<a href="https://colab.research.google.com/github/edupires89/datascience/blob/main/01_exploratoryanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Analysis

In this notebook I'll explain how I do data analysis in different datasets.

By: Eduardo Conde Pires

## Importing libraries

In this section I'll show you how and what different python libraries I use to start the exploratory analysis work.

In [1]:
import numpy as np # NumPy is the fundamental package for scientific computing with Python
import pandas as pd # Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool
import matplotlib.pyplot as plt # Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python

## Importing dataset

In this section was created to import a dataset that I'll analyze

In [2]:
dataframe = pd.read_excel('datasets/relatorio_consulta_publica_avancada_curso_20_11_2022_12_18_38.xlsx') #import from CSV file

In [3]:
dataframe.info() #basic informations about dataset and your data types
dataframe.head() #five first tuples of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Código da IES                       1485 non-null   int64
 1   Sigla da IES                        1337 non-null   object
 2   Nome da IES                         1485 non-null   object
 3   Categoria Administrativa            1485 non-null   object
 4   Organização Acadêmica               1485 non-null   object
 5   Situaçao da IES                     1485 non-null   object
 6   Sinalização da IES                  275 non-null    object
 7   Código do Curso                     1485 non-null   int64
 8   Nome do Curso                       1485 non-null   object
 9   Grau                                1485 non-null   object
 10  Modalidade                          1485 non-null   object
 11  Situação do Curso                   1485 non-null   object
 12  Qt. Vagas Autorizadas               1485 non-null   int64
 13  Carga Horária                       1485 non-null   int64
 14  Tipo de Periodicidade               1485 non-null   object
 15  Integralização - Turno Integral     140 non-null    object
 16  Quantitativo de Vagas - Integral    140 non-null    float64
 17  Integralização - Turno Matutino     961 non-null    object
 18  Quantitativo de Vagas - Matutino    961 non-null    float64
 19  Integralização - Turno Vespertino   120 non-null    object
 20  Quantitativo de Vagas - Vespertino  120 non-null    float64
 21  Integralização - Turno Noturno      1296 non-null   object
 22  Quantitativo de Vagas - Noturno     1296 non-null   float64
 23  Sinalização do Curso                145 non-null    object
 24  Código do Endereço                  1485 non-null   int64
 25  Nome do Campus                      1485 non-null   object
 26  Endereço                            1485 non-null   object
 27  Número Endereço                     1362 non-null   object
 28  Complemento                         1095 non-null   object
 29  Bairro                              1485 non-null   object
 30  Código do Município                 1485 non-null   int64
 31  Município                           1485 non-null   object
 32  UF                                  1485 non-null   object
 33  Início Funcionamento                1310 non-null   datetime64[ns]
 34  Data Ato de Criação                 1434 non-null   datetime64[ns]
 35  Valor CC                            733 non-null    float64
 36  Ano CC                              734 non-null    float64
 37  CPC Faixa                           561 non-null    float64
 38  CPC Contínuo                        539 non-null    float64
 39  CPC Ano                             561 non-null    float64
 40   Valor IDD                          580 non-null    float64
 41  IDD Ano                             580 non-null    float64
 42  Valor ENADE                         598 non-null    float64
 43  ENADE Ano                           598 non-null    float64
 44  Código Rótulo CINE                  1485 non-null   object
 45  Rótulo CINE                         1485 non-null   object
 46  Código Área Detalhada CINE          1485 non-null   int64
 47  Área Detalhada CINE                 1485 non-null   object
 48  Código Área Específica CINE         1485 non-null   int64
 49  Área Específica CINE                1485 non-null   object
 50  Código Área Geral CINE              1485 non-null   int64
 51   Área Geral CINE                    1485 non-null   object
dtypes: datetime64[ns](2), float64(13), int64(9), object(28)
memory usage: 603.4+ KB

,Código da IES,Sigla da IES,Nome da IES,Categoria Administrativa,Organização Acadêmica,Situaçao da IES,Sinalização da IES,Código do Curso,Nome do Curso,Grau,...,Valor ENADE,ENADE Ano,Código Rótulo CINE,Rótulo CINE,Código Área Detalhada CINE,Área Detalhada CINE,Código Área Específica CINE,Área Específica CINE,Código Área Geral CINE,Área Geral CINE
0,2,UNB,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade,Ativa,NaN,116,GEOLOGIA,Bacharelado,...,NaN,NaN,0532G02,Geologia,532,Ciências da terra,53,Ciências físicas,5,"Ciências naturais, matemática e estatística"
1,2,UNB,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade,Ativa,NaN,119,ESTATÍSTICA,Bacharelado,...,4.0,2009.0,0542E01,Estatística,542,Estatística,54,Matemática e estatística,5,"Ciências naturais, matemática e estatística"
2,2,UNB,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade,Ativa,NaN,122,CIÊNCIAS ECONÔMICAS,Bacharelado,...,5.0,2018.0,0311E01,Economia,311,Economia,31,Ciências sociais e comportamentais,3,"Ciências sociais, comunicação e informação"
3,2,UNB,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade,Ativa,NaN,126,SERVIÇO SOCIAL,Bacharelado,...,5.0,2018.0,0923S01,Serviço social,923,Serviço social,92,Bem-estar,9,Saúde e bem-estar
4,2,UNB,UNIVERSIDADE DE BRASÍLIA,Pública Federal,Universidade,Ativa,NaN,127,CIÊNCIA DA COMPUTAÇÃO,Bacharelado,...,4.0,2021.0,0614C01,Ciência da computação,614,Ciência da computação,61,Computação e Tecnologias da Informação e Comun...,6,Computação e Tecnologias da Informação e Comun...

In [4]:
dataframe.describe().round(2)

,Código da IES,Código do Curso,Qt. Vagas Autorizadas,Carga Horária,Quantitativo de Vagas - Integral,Quantitativo de Vagas - Matutino,Quantitativo de Vagas - Vespertino,Quantitativo de Vagas - Noturno,Código do Endereço,Código do Município,...,CPC Faixa,CPC Contínuo,CPC Ano,Valor IDD,IDD Ano,Valor ENADE,ENADE Ano,Código Área Detalhada CINE,Código Área Específica CINE,Código Área Geral CINE
count,1485.00,1485.00,1485.00,1485.00,140.00,961.00,120.00,1296.00,1485.00,1485.0,...,561.00,539.0,561.00,580.00,580.00,598.00,598.00,1485.00,1485.00,1485.00
mean,3460.55,790395.27,162.70,3071.22,66.26,86.25,26.72,99.93,676438.88,5300108.0,...,3.24,281.2,2017.12,2.76,2017.90,2.97,2017.98,491.41,48.83,4.76
std,5253.47,909116.82,134.56,1133.01,38.38,65.43,76.82,79.36,436547.57,0.0,...,0.98,65.8,2.58,1.08,3.76,1.10,3.33,282.40,28.23,2.81
min,2.00,116.00,0.00,0.00,0.00,0.00,0.00,0.00,374.00,5300108.0,...,0.00,65.0,2008.00,0.00,2005.00,0.00,2005.00,111.00,11.00,1.00
25%,518.00,67423.00,100.00,2400.00,36.00,50.00,0.00,50.00,27693.00,5300108.0,...,3.00,236.0,2017.00,2.00,2018.00,2.00,2018.00,312.00,31.00,3.00
50%,1446.00,1031076.00,120.00,3080.00,67.00,80.00,0.00,100.00,659755.00,5300108.0,...,3.00,290.0,2018.00,3.00,2019.00,3.00,2018.00,413.00,41.00,4.00
75%,3663.00,1343892.00,200.00,3600.00,100.00,100.00,40.00,120.00,1070615.00,5300108.0,...,4.00,327.0,2019.00,3.00,2021.00,4.00,2021.00,716.00,71.00,7.00
max,23725.00,5001673.00,2304.00,14880.00,180.00,768.00,768.00,800.00,1141651.00,5300108.0,...,5.00,450.0,2019.00,5.00,2021.00,5.00,2021.00,1041.00,104.00,10.00